<div>
    <form class="row g-3" id="formProductos">
        <div class="col-md-2">
            <p>INGRESO DE PRODUCTOS NUEVOS:</p>
        </div>
        <div class="col-md-2">
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
        </div>
        <div class="col-md-1">
            <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Url de imagen">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion">
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="stock" name="stock" placeholder="Stock">
        </div>
        <div class="col-1">
            <button type="submit" id="boton">Guardar</button>
        </div>
    </form>
  </div>