<div class="centroMensajes pageContainer">
    <h1>CENTRO DE MENSAJES</h1>
    <div id="messages"></div>
    <form class="row g-3" id="formChat">
      <div class="col-md-5">
        <input type="text" class="form-control" id="nombreMsg" placeholder="Tu nombre" >
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" id="mensaje" placeholder="Cuéntanos algo...">
      </div>
      <div class="col-1">
          <button id="btnMensajes" class="btn btn-success" type="submit">Enviar</button>
      </div>
    </form>
  </div>